.venv/
.vscode/
__pycache__/
Test_drive/
dataset/output*/
ADS presentation/
*.aux
*.fdb_latexmk
*.fls
*.gz
*.log
*.pth

# No publishing of models and results of trained models with NVIDIA's dataset
**/run1[8-9]/
**/run[2-9][0-9]*/